/* Variables globales */
:root {
    --main-color: rgb(46, 213, 115);
    --main-bg-color: rgba(46, 213, 116, 0.36);
    --pattern-color: rgba(46, 213, 116, 0.073);
    --text-color: white;
    --background-color: #000000;
    --font-family: 'Exo 2', Arial, sans-serif;
}

/* Página de Bienvenida */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.welcome-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.welcome-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Botón personalizado */
.button {
    --hue-rotate: 0deg;
    filter: hue-rotate(var(--hue-rotate));
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: radial-gradient(circle, var(--main-bg-color) 0%, rgba(0, 0, 0, 0) 95%),
                linear-gradient(var(--pattern-color) 1px, transparent 1px),
                linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size: cover, 15px 15px, 15px 15px;
    background-position: center center, center center, center center;
    border-image: radial-gradient(circle, var(--main-color) 0%, rgba(0, 0, 0, 0) 100%) 1;
    border-width: 1px 0 1px 0;
    color: var(--main-color);
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    transition: background-size 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.button:hover {
    background-size: cover, 10px 10px, 10px 10px;
}

.button:active {
    --hue-rotate: 250deg;
}
