/* Variables globales */
:root {
    --main-color: rgb(255, 255, 255);
    --main-bg-color: rgba(0, 26, 255, 0.36);
    --pattern-color: rgba(9, 255, 0, 0.073);
    --text-color: white;
    --background-color: #000000;
    --font-family: 'Exo 2', Arial, sans-serif;
}

/* Página de Bienvenida */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.welcome-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px; /* Añadir algo de espacio en los laterales */
}

.welcome-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.welcome-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Botón personalizado */
.button {
    --hue-rotate: 0deg;
    filter: hue-rotate(var(--hue-rotate));
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: radial-gradient(circle, var(--main-bg-color) 0%, rgba(255, 0, 0, 0) 95%),
                linear-gradient(var(--pattern-color) 1px, transparent 1px),
                linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size: cover, 15px 15px, 15px 15px;
    background-position: center center, center center, center center;
    border-image: radial-gradient(circle, var(--main-color) 0%, rgba(255, 196, 0, 0) 100%) 1;
    border-width: 1px 0 1px 0;
    color: var(--main-color);
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    transition: background-size 0.2s ease-in-out, filter 0.2s ease-in-out;
    display: inline-block; /* Para que se ajuste al contenido */
    text-align: center;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .welcome-content h1 {
        font-size: 3rem; /* Reducir tamaño de la fuente */
    }

    .welcome-content p {
        font-size: 1.2rem; /* Reducir tamaño de la fuente */
    }

    .button {
        font-size: 1.2rem; /* Reducir tamaño del botón */
        padding: 0.8rem 2.5rem; /* Ajustar el padding */
    }
}

@media (max-width: 480px) {
    .welcome-content h1 {
        font-size: 2.5rem; /* Ajuste aún mayor en pantallas más pequeñas */
    }

    .welcome-content p {
        font-size: 1rem; /* Ajustar el tamaño del párrafo */
    }

    .button {
        font-size: 1.1rem; /* Ajuste del tamaño del botón */
        padding: 0.7rem 2rem; /* Ajuste aún mayor del padding */
    }
}

.button:hover {
    background-size: cover, 10px 10px, 10px 10px;
}

.button:active {
    --hue-rotate: 250deg;
}
